<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yubin.hotelSys.dao.AdminMapper">

    <resultMap id="adminMap" type="com.yubin.hotelSys.model.Admin">
        <id property="id" column="aid" />
        <result property="name" column="aname" />
        <association property="role" javaType="com.yubin.hotelSys.model.AdminRole">
            <id property="id" column="arid" />
            <result property="name" column="arname" />
        </association>
    </resultMap>

    <select id="findAdmin" resultType="com.yubin.hotelSys.model.Admin">
        SELECT *
        FROM hotel.admin
        WHERE id = #{account} AND pwd = #{pwd};
    </select>

    <insert id="insertAdmin">
        INSERT INTO hotel.admin
        VALUES (#{id}, #{name}, #{pwd}, #{roleId});
    </insert>

    <select id="findAdminByAccount" resultType="com.yubin.hotelSys.model.Admin">
        SELECT *
        FROM hotel.admin
        WHERE id = #{account};
    </select>

</mapper>