<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yubin.hotelSys.dao.BedTypeMapper">
    <select id="queryAllBedType" resultType="com.yubin.hotelSys.model.BedType">
        SELECT *
        FROM hotel.BedType;
    </select>
</mapper>