<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yubin.hotelSys.dao.OrderMapper">
    <resultMap id="simplifyOrderMap" type="com.yubin.hotelSys.model.SimplifyOrder">
        <id property="id" column="oid" />
        <result property="roomId" column="rid" />
    </resultMap>

    <resultMap id="orderMap" type="com.yubin.hotelSys.model.Order">
        <id property="id" column="oid" />
        <result property="group" column="gp" />

        <association property="room" javaType="com.yubin.hotelSys.model.Room">
            <id property="id" column="rid" />
            <result property="name" column="rname" />
            <result property="desc" column="rdesc" />
        </association>
        <association property="guest" javaType="com.yubin.hotelSys.model.Guest">
            <id property="id" column="id_num" />
            <result property="name" column="gname" />
        </association>
    </resultMap>
    
    <select id="orderedRooms" resultMap="simplifyOrderMap">
        SELECT od.id oid, od.room_id rid
        FROM hotel.order od
        WHERE check_in_time > #{startTime} AND check_in_time &lt;= #{endTime}
    </select>

    <select id="selectOrder" resultMap="orderMap">
        SELECT od.id oid, room_id, guest_id, check_in_time, check_out_time, real_pay, od.`group` gp, r.id rid, r.name rname, type_id, floor, `desc` rdesc, id_num, g.name gname, phone, sex, age
        FROM hotel.`order` od
        LEFT JOIN hotel.room r ON r.id = od.room_id
        LEFT JOIN hotel.guest g ON g.id_num = od.guest_id
        WHERE od.id = ${orderId};
    </select>

    <select id="computeProfits" resultType="double">
        SELECT SUM(real_pay) profit
        FROM hotel.`order` as od
        WHERE check_in_time > #{startTime} AND check_in_time &lt;= #{endTime};
    </select>
</mapper>