<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yubin.hotelSys.dao.RoomMapper">
    <resultMap id="roomMap" type="com.yubin.hotelSys.model.Room">
        <id property="id" column="rid" />
        <result property="name" column="rname" />
        <result property="desc" column="rdesc" />
        
        <association property="roomType" javaType="com.yubin.hotelSys.model.RoomType">
            <id property="id" column="tid" />
            <result property="name" column="tname" />
            <result property="stdPrice" column="std_price" />
        </association>

        <association property="bedType" javaType="com.yubin.hotelSys.model.BedType">
            <id property="id" column="bid" />
            <result property="bedName" column="bed_name" />
        </association>
    </resultMap>
    
    <select id="showAllRoom" resultMap="roomMap">
        SELECT r.id rid, r.name rname, floor, r.`desc` rdesc, bed_id, status,
               rt.id tid, rt.name tname, std_price, people_num, area,
               b.id bid, bed_name
        FROM hotel.Room AS r
        LEFT JOIN hotel.RoomType rt ON r.type_id = rt.id
        LEFT JOIN hotel.BedType b ON r.bed_id = b.id;
    </select>

    <select id="selectRoom" parameterType="com.yubin.hotelSys.dto.RoomSearchForm" resultMap="roomMap">
        SELECT r.id rid, r.name rname, floor, r.`desc` rdesc, bed_id, status,
               rt.id tid, rt.name tname, std_price, people_num, area,
               b.id bid, bed_name
        FROM hotel.room AS r
        LEFT JOIN hotel.RoomType rt ON r.type_id = rt.id
        LEFT JOIN hotel.BedType b ON r.bed_id = b.id
        <where>
            <if test="roomId != null">
                r.id LIKE #{roomId}
            </if>
            <if test="peopleNum != null">
                AND rt.people_num = #{peopleNum, jdbcType=INTEGER}
            </if>
            <if test="roomTypeId != null">
                AND rt.id = #{roomTypeId, jdbcType=INTEGER}
            </if>
            <if test="floor != null">
                AND r.floor = #{floor, jdbcType=INTEGER}
            </if>
            <if test="bedTypeId != null">
                AND b.id = #{bedTypeId, jdbcType=INTEGER}
            </if>
            <if test="status != null">
                AND r.status = #{status}
            </if>
            <if test="startPrice != null">
                AND rt.std_price >= #{startPrice, jdbcType=DOUBLE}
            </if>
            <if test="endPrice != null">
                AND #{endPrice, jdbcType=DOUBLE} >= rt.std_price
            </if>

        </where>
    </select>

    <update id="modifyTypeOfOneRoom">
        UPDATE hotel.room
        SET type_id = ${typeId}
        WHERE id = #{roomId};
    </update>

    <insert id="addRoom">
        INSERT INTO hotel.room
        VALUES (#{roomId}, #{name}, ${typeId}, ${floor}, #{description});
    </insert>


</mapper>